html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
}
header {
    margin: 0px;
    padding: 0px;
    background-color: inherit;
    height: 180px;
    border-bottom: 1px solid #333333;
    display: flex;
    position: relative;
}
a {
    text-decoration: none;
}
#headerOptions {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.goBackText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    color: white;
    font-family: "Inter-B";
    font-size: 18px;
    margin-bottom: 7px;
    margin-left: 8px;
}
.goBackButtonContainer {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
    margin-left: 20px;
}
.goBackButton {
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-radius: 10px;
}
.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.iconText {
    padding-top: 6px;
    color: white;
    font-family: "Inter-B";
}
.logoutContainer {
    height: 40px;
    width: 90px;
    background-color: #333333;
    color: white;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 15px;
}
#main {
    width: 100%;
    height: 75%;
    margin: 0px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;

}
.workoutButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: inherit;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #333333;
}
.wButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    font-family: "Roboto";
    font-size: 15px;
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    border: 1px solid white;

}
.wButton:hover {
    background-color: #656565;
}
.workoutText {
    color: white;
    font-family: 'Inter-B';
    font-size: 27px;
    font-weight: bold;
    padding: 10px;
}
.workoutBox {
    padding: 10px;
    font-family: 'Inter-B';
    color: white;
}
.theWorkoutBox {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    background-color: #333333;
    border-radius: 0.5em;
}

.workoutBoxHeader {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 5px;
    border-bottom: 1px solid rgb(32, 32, 32);
}
.workoutBoxHeaderName {
    font-weight: bold;
}
.workoutBoxHeaderDate {
    color: #bdbdbd;
    font-family: 'Inter';
}
.workoutBoxMain {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}
.workoutExercisesInfoText {
    color: white;
    padding-right: 5px;
}
.workoutExercisesInfo {
    display: flex;
    flex-direction: column;
    color: #bdbdbd;
}
.addWorkoutBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    color: white;
    font-family: 'Roboto';
    width: 500px;
    height: 300px;
}
.addWorkoutBoxHead {
    border-bottom: 1px solid #333333;
}
.workoutTextBox
{
    gap: 10px;
    display: flex;
    width: 200px;
    height: 30px;
    flex-direction: row;
}
.workoutLabel {
    font-size: 20px;
}
#workoutNameInput {
    width: 200px;
    height: 30px;
    font-family: 'Inter';
}
.workoutDateBox {
    gap: 10px;
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
}

#workoutDateInput {
    width: 200px;
    height: 30px;
    font-family: 'Inter-B';
}
#workoutAddButton {
    width: 70px;
    height: 40px;
}
#exerciseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(32, 32, 32);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}
#selectExerciseBox {
    height: 37px;
    width: 140px;
    border-radius: 5px;
    font-family: 'Inter-B';
}
.exerciseBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 8px;
    padding-top: 8px;
}
#editWorkoutForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.exerciseChoiceBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 5px;

}
.exerciseChoiceInput {
    width: 200px;
    height: 33px;
    border-radius: 3px;
    padding-left: 5px;
    border: none;
    font-family: 'Inter';
}
.removeExerciseButton {
    height: 33px;
    border-radius: 5px;
    border: none;
    font-family: 'Inter-B';
    color: white;
    background-color: #5a5a5a;
}
.workoutActionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 130px;
}
#addExerciseButton {
    height: 38px;
    width: 130px;
    border-radius: 5px;
    border: none;
    font-family: 'Inter-B';
    color: white;
    background-color: #5a5a5a;
}
#addExerciseButton:hover {
    background-color: #787878;
}
#workoutAddButton {
    height: 38px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-family: 'Inter-B';
    color: white;
    background-color: rgb(228, 137, 33);
}
#workoutAddButton:hover {
    background-color: rgb(234, 161, 75);
}
.removeExerciseButton:hover {
    background-color: #707070;
}

.spanStyle {
    font-family: 'Inter';
}
.addWorkoutButtonArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #333333;
}
#leftCornerLogo  {
    display: flex;
    justify-content: left;
    align-self: start;
    padding: 10px;

}
#logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#logoIMG {
    width: 100px;
    height: auto
}
#logoTitle {
    display: flex;
    color: white;
    font-size: 26px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;

}
footer {
    background-color: #333333;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}
#line {
    display: flex;
    height: 25px;
    width: auto;
    border-top: 1px solid #333333;
    background-color: rgb(32, 32, 32);
    align-items: center;
    color: #A39F9F;
    font-size:14px;
    font-family: 'Roboto';
    font-weight: 200;
    padding-left: 8px;

}
#footerBox {
    margin: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.mainicons {

    color: white;
    width: 70px;
}
.icons {
    color: white;

}
.fa-solid.fa-user {
    color: rgb(228, 137, 33);
}
.fa-solid.fa-plus {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid.fa-dumbbell {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid.fa-chart-simple {
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Inter';
    src: url('../contents/fonts/Inter.ttf');
}
@font-face {
    font-family: 'Inter-B';
    src: url('../contents/fonts/Inter-B.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../contents/fonts/Roboto-Regular.ttf');
}