html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
}
header {
    margin: 0px;
    padding: 0px;
    background-color: inherit;
    height: 180px;
    border-bottom: 1px solid #333333;
    display: flex;
    position: relative;
}
a {
    text-decoration: none;
}
#headerOptions {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.iconText {
    padding-top: 6px;
    color: white;
    font-family: "Inter-B";
}
#main {
    width: 100%;
    height: 75%;
    margin: 0px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.workoutButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: inherit;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #333333;
}
.wButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(248, 102, 38);;
    border-radius: 7px;
    border: 2px solid white;

}
.wButton:hover {
    background-color: #656565;
}
.workoutText {
    color: white;
    font-family: 'Inter-B';
    font-size: 27px;
    font-weight: bold;
    padding: 10px;
}
.workoutBox {
    padding: 10px;
    font-family: 'Inter-B';
    color: white;
}
.theWorkoutBox {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    background-color: #333333;
    border-radius: 0.5em;
}
.theWorkoutDeleteBox {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    background-color: #333333;
    border-radius: 0.5em;
    cursor: pointer;
}
.theWorkoutDeleteBox:hover {
    background-color: #5a5a5a;
}
.theWorkoutDeleteBox.selected {
    background-color: #5a5a5a;
}
#deleteBox {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    background-color: #333333;
    border-radius: 0.5em;
    cursor: pointer;
}
#deleteBox.selected {
    background-color: #5a5a5a;
}

.workoutBoxHeader {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 5px;
    border-bottom: 1px solid rgb(32, 32, 32);
}
.workoutBoxHeaderName {
    font-weight: bold;
}
.workoutBoxHeaderDate {
    color: #bdbdbd;
    font-family: 'Inter';
}
.workoutDeleteField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 70px;
    height: 20px;
    background-color: #ac4747;
    border-radius: 0.25em;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: lighter;
    background-color: rgb(248, 102, 38);
    border-radius: 7px;
    border: 1px solid white;
    color: white;
}
.workoutDeleteField:hover {
    background-color: rgb(246, 144, 100);
}
.workoutEditField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 70px;
    height: 20px;
    background-color: #ac4747;
    border-radius: 0.25em;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: lighter;
    background-color: rgb(248, 102, 38);
    border-radius: 7px;
    border: 1px solid white;
    color: white;
}
.workoutEditField:hover {
    background-color: rgb(246, 144, 100);
}
.workoutDeleteField:hover {
    background-color: #fa8787;
}
.workoutBoxMain {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}
.workoutExercisesInfoText {
    color: white;
    padding-right: 5px;
}
.workoutExercisesInfo {
    display: flex;
    flex-direction: column;
    color: #bdbdbd;
}
.addWorkoutBox {

}
.spanStyle {
    font-family: 'Inter';
}
#leftCornerLogo  {
    display: flex;
    justify-content: left;
    align-self: start;
    padding: 10px;
    
}
#logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#logoIMG {
    width: 100px; 
    height: auto
}
#logoTitle {
    display: flex;
    color: white; 
    font-size: 26px; 
    font-family: 'Inter'; 
    font-style: italic; 
    font-weight: 500; 
    
}
footer {
    background-color: #333333;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}
#line {
    display: flex;
    height: 25px;
    width: auto;
    border-top: 1px solid #333333;
    background-color: rgb(32, 32, 32);
    align-items: center;
    color: #A39F9F;
    font-size:14px;
    font-family: 'Roboto';
    font-weight: 200;
    padding-left: 8px;
    
}
#footerBox {
    margin: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.mainicons {
   
    color: white;
    width: 70px;
}
.icons {
    color: white;
    
}
.fa-solid.fa-user {
    color: rgb(228, 137, 33);
}
.fa-solid.fa-plus {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid.fa-dumbbell {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid.fa-chart-simple {
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Inter';
    src: url('../contents/fonts/Inter.ttf');
}
@font-face {
    font-family: 'Inter-B';
    src: url('../contents/fonts/Inter-B.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../contents/fonts/Roboto-Regular.ttf');
}
